each message in posts

	h2= message.title
	p= message.body

		form(action='/addComment', method='post')
	      
			input(name='comment')
			br
			input(type='text', name='messageId' value=message.id)
			button(type='comment', value= 'comment') Comment
		each thing in message.comment
			p= thing.body

     


a(href="/") login
br
a(href="/profile") profile