each message in posts
  h2= message.title
  p= message.message

    form(action='/profile', method='post')
      label Comment
      input(type='text', name='comment', value='')
      br
      input(type='submit', value='POST COMMENT', name='submit')
