<!DOCTYPE html>
<html>
  <head>
    <h1> Welcome </h1>
    <meta charset="utf-8">
    <title>Home/Login Page</title>
  </head>
  <body>

    <form action="/login" method="post">
      <label>Email:</label><br>
      <input type="text" name="loginEmail" required="loginEmail"><br>
      <label>Password:</label><br>
      <input type="text" name="loginPassword" required="loginPassword"><br>
      <input type="submit" value="login" id="submit">


      <h3><a href="/newUser">Create new user</a> </h3>
    </form>
  </body>
</html>
