<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration page</title>
    <h1>Fill in and submnit your details below</h1>
  </head>
  <body>
    <form action="/profile" method="post">
      <label>Username</label>
      <input type="" name="name" value="userName">
    </form>

  </body>
</html>
