<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration page</title>
    <h1>Fill in and submit your details below</h1>
  </head>
  <body>
    <form action="/register" method="post">
      <label>Username: </label>
      <input type="" name="userName" required="userName"><br>
      <label>Email: </label>
      <input type="" name="userEmail" required="userEmail"><br>
      <label>Password: </label>
      <input type="" name="userPassword" required="userPassword"><br>
      <label>Submit button</label>
      <input type="submit" value="Join the club" name="submit">
    </form>


  </body>
</html>
