h2 Create new user

form(action='/register', method='post')
      label Username:
      input(type='', name='userName', required='userName')
      br
      label Email:
      input(type='', name='userEmail', required='userEmail')
      br
      label Password:
      input(type='password', name='userPassword', required='userPassword')
      br
      label Submit button
      input(type='submit', value='Join the club', name='submit')
a(href='/') index
