html
  title Profile page
  a(href='/logout') logout
  br
  a(href='/allPosts') Read all posts
  h1 Welcome to your own page
  h3 Start writing your own blog down here!
  body
    form(action='/profile', method='post')
      label Title
      input(type='text', name='title', value='')
      br
      label Message
      input(type='text', name='message', value='')
      br
      label Submit button
      input(type='submit', value='Post message', name='submit')

  each message in posts
    h2= message.title
    p= message.message
